@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
        @apply text-2xl mt-8 lg:mt-24 mb-4 lg:mb-8 font-extralight;
    }

    .texto {
        @apply text-sm lg:text-lg text-grey mx-1 font-extralight;
    }

    .image-container {
        @apply flex flex-wrap w-full lg:w-1/3
    }

    .image {
        @apply w-full p-1 md:p-2
    }

    .month-container {
        @apply grid grid-cols-1 lg:grid-cols-3 gap-4
    }

    .month {
        @apply table-auto not-italic mx-auto text-base mt-4 lg:mt-0
    }

    .month-header {
        @apply border-collapse border p-2
    }

    .occupied {
        @apply bg-red-700 text-white
    }

    .dayoff {
        @apply bg-gray-200
    }

    .free-occupied {
        background: linear-gradient(135deg,white 50%,transparent 0,rgb(185 28 28) 50%);
    }

    .occupied-dayoff {
        background: linear-gradient(135deg,rgb(185 28 28) 50%,transparent 0,rgb(229 231 235) 50%);
    }

    .dayoff-occupied {
        background: linear-gradient(135deg,rgb(229 231 235) 50%,transparent 0,rgb(185 28 28) 50%);
    }

    .text-grey-white {
        background: #fff;
        background: linear-gradient(to top left, #fff 50%, rgb(115 115 115) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text-white-grey {
        background: rgb(115 115 115);
        background: linear-gradient(to top left, rgb(115 115 115) 50%, #fff 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    td {
        @apply p-2 border-collapse border
    }

    section {
        @apply lg:scroll-mt-28
    }
}